<h1>Confirmez votre email</h1>

<p>
    Bonjour,<br>
    Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessous :
</p>

<p>
    <a href="{{ signedUrl }}">Confirmer mon email</a>
</p>

<p>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>
